.btn {
  background-color: #fc6c12;
}

.card {
  background-color: #e4c1ab;
}
.footer {
  background-color: #fc6c12;
  height: 74px;
}
.randomcat {
  width: 581px;
  height: 350px;
  object-fit: cover;
}
